/* base */

@font-face {
    font-family: "light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "italic";
    src: url("../fonts/OpenSans-LightItalic.ttf");
}

* {
    box-sizing: border-box;
}

html, body {
    color: #555;
    font-family: "light";
    height: 100%;
    font-size: 13px;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    color: unset;
    text-decoration: unset;
}

/* content */

.content {
    padding: 2em;
}

/* table */

.table {
    display: table;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

body > .table {
    height: 100%;
    width: 100%;
}

/* button */

.btn {
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    outline: none;
    padding: 0.5em 1em;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-success {
    background-color: #5cb85c;
}

/* grid */

.grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    height: 100%;
    padding: 1em;
    width: 100%;
}

.item {
    background-color: #f1f1f1;
    border-radius: 0.5em;
    cursor: pointer;
    height: 100%;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.item i {
    font-size: 3em;
    margin-bottom: 0.3em;
}